<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>grid-website</title>
  <link rel="stylesheet" href="./css/main.bundle.css">
</head>
<body>
  <!-- header -->
  <%- include('./_partical/header') %>
  <!-- /header -->
  <!-- items -->
  <%- include('./_partical/items') %>
  <!-- /items -->
  <script src="./js/top.bundle.js"></script>
</body>
</html>
