<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>grid-website</title>
  <link rel="stylesheet" href="./css/main.bundle.css">
</head>
<body>
  <!-- box-s -->
  <%- include('./_partical/box-s') %>
  <!-- /box-s -->
  <script src="./js/top.bundle.js"></script>
</body>
</html>
